body{
    background-color: #9459b3;
}

.nav-bar {
    background-color: #772c9e;
    margin: -8px;
    height: 40px;
}

.left-board-icon {
    background-color: #bc84da;
    float: left;
    margin: 12px;
    padding: 2px 10px;
    border-radius: 5px;
}

.left-board-icon::before {
    content: '|| ';
}

.page-logo {
    background: url(/media/images/page-logo.png) 0 0 no-repeat;
    width: 25px;
    height: 25px;
    position: relative;
    left: 40%;
    top: 25%;
    display: inline-block;
    background-size: contain;
}

div.content {
    text-align: center;
    margin-top: 20px;
}